{% extends "base.html" %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <div>
                <p>{{ show_project.description }}</p>
            </div>
            <h2>Tasks</h2>
            <div>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
            </div>
            {% if not show_project.tasks.count == 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in show_project.tasks.all %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"M d, Y" }}, {{ task.start_date|time:"g:i a" }}</td>
                                <td>{{ task.due_date|date:"M d, Y" }}, {{ task.due_date|time:"g:i a" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
